*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color:cadetblue;
}
form{
    width: 300%;
    background-color: white;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50% -50%);
    border-radius: 10px;
}

form-label, form input{
    width: 100%;
    display: black;
    margin-bottom: 10px;
}
form input{
    height: 40px;
    padding-left: 10px;
    border: 1px solid #333;
}
form input[type="radio"],
form input
[type="checkbox"{
    width: auto;
    height: auto;
    display: inline;
}
form.meia-label{

}
